.nav {
  padding: 20px;
  grid-area: n;
  background-color: brown;
}

.nav__link {
  color: inherit;
  text-decoration: none;
}

.nav__item {
  color: white;
  margin-bottom: 30px;
}
.active {
  text-decoration: none;
  color: gold;
}

.sidebar {
  display: flex;
}

.main {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 10px;
}

.sidebar__item {
  margin-right: 10px;
}

.dialogImg {
  margin-right: 10px;
}

.sidebar__img img {
  border-radius: 25px;
}
